<template>
    <div id="location">
        <!-- lat: <input type="number" v-model="center.lat" step=".000001" disabled>
        lng: <input type="number" v-model="center.lng" step=".000001" disabled>
        <p>{{center.lat}}</p>
        <p>{{center.lng}}</p> -->
        <!-- <div id="map"></div> -->
        <gmap-map
            :center="center"
            :zoom="15"
            style="width: 100%; height: 70vh"
        >
            <gmap-marker :position="position" :clickable="true" :draggable="true" @click="center=position"
            ></gmap-marker>
        </gmap-map>
    </div>
</template>

<script>
    import {firebase} from '../databaseconfig.js'
    export default {
        data () {
            return {
                center: {lat: 0, lng: 0},
                position: {lat: 0, lng: 0},
            }
        },
        methods : {
           getLocation() {
                this.ref = firebase.database().ref().child('locations');
                this.ref.on("child_added", snap => {
                    this.center.lat = parseFloat(snap.child('lat').val());
                    this.center.lng = parseFloat(snap.child('lon').val());
                    this.position.lat = parseFloat(snap.child('lat').val());
                    this.position.lng = parseFloat(snap.child('lon').val());
                });
            }
        },
        mounted () {
            this.getLocation();
            console.log(this.center.lat, this.center.lng)
        //    this.showMap();
        }
    }
</script>

<style>
#map {
  height: 70vh;
  width: 100%;
}
</style>

