<template>
  <div id="login">
      <h1 align="center">Sign In</h1>
      <div class="errorbox" v-if="errors">
          <p>{{errors}}</p>
      </div>
      <input type="text" class="form-input" v-model="email" placeholder="Enter your Email" />
      <input type="password" class="form-input" v-model="password" placeholder="Enter your password" />
      <button class="button blue-button" @click="login()">Sign in</button>
  </div>
</template>

<script>
    import {firebase} from '../databaseconfig.js'
    export default  {
        data () {
            return {
                email: '',
                password : '',
                errors : ''
            }
        },
        methods : {
            login () {
                firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(user=>{
                    this.password = '';
                    this.$router.push("/home");
                }).catch((e)=>{
                    this.password = '';
                    this.errors = e.message
                });
            }
        }
    }
</script>

<style>
    #login{
        width: 60%;
        margin: 4em auto;
    }
    
</style>

