<template>
  <div id="register">
      <h1 align="center">Sign Up</h1>
      <div class="errorbox" v-if="errors">
          <p>{{errors}}</p>
      </div>
      <input type="text" class="form-input" v-model="email" placeholder="Enter your Email" />
      <input type="password" class="form-input" v-model="password" placeholder="Enter your password" />
      <input type="password" class="form-input" v-model="confirmpassword" placeholder="password Confirmation" />
      <button class="button blue-button" @click="signup()">Sign Up</button>
  </div>
</template>

<script>
    import {firebase} from '../databaseconfig.js'
    export default  {
        data () {
            return {
                email: '',
                password : '',
                confirmpassword: '',
                errors: '',
                user: []
            }
        },
        methods: {
            signup(){
                if(this.password === this.confirmpassword){
                    firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(user=>{
                        this.password = '';
                        this.confirmpassword = '';
                        this.$router.push('/home');
                    }).catch((e)=>{
                        this.password = '';
                        this.confirmpassword = '';
                        this.errors = e.message
                    });
                }else{
                    this.errors = "Passwords Doesn\'t matches"
                }
            }
        }
    }
</script>

<style>
    #register{
        width: 60%;
        margin: 4em auto;
    }
</style>

