<template>
  <div id="resetpassword">
      <h1 align="center">Forget Your Password</h1>
      <div class="errorbox" v-if="errors">
          <p>{{errors}}</p>
      </div>
      <div class="successbox" v-if="success">
          <p>{{success}}</p>
      </div>
      <input type="text" class="form-input" v-model="email" placeholder="Enter your Email" />
      <button class="button blue-button" @click="Reset()">Reset Password</button>
  </div>
</template>

<script>
    import {firebase} from '../databaseconfig.js'
    export default  {
        data () {
            return {
                email: '',
                password : '',
                errors : '',
                success : ''
            }
        },
        methods : {
            Reset () {
                firebase.auth().sendPasswordResetEmail(this.email).then(user=> {
                    this.success = 'Email was sent successfully please check your inbox';
                }).catch((e) => {
                    this.errors = e.message;
                });
            }
        }
    }
</script>

<style>
    #resetpassword{
        width: 60%;
        margin: 4em auto;
    }
    
</style>

