<template>
  <div id="welcome" align="center">
      <h1 align="center">welcome</h1>
      <p>Track your car where ever it goes</p>
      <img src="../assets/map1.png" alt="">
      <button class="button blue-button" @click="getLocation()"><i class="fa fa-map-marker"></i> Where's my Car ?!!</button>
      <!-- <button class="button red-button"><i class="fa fa-search"></i> Track My Car</button> -->
  </div>
</template>

<script>
    export default{
        data () {
            return {

            }
        },
        methods : {
            getLocation() {
                this.$router.push('/location');
            }
        }
    }
</script>

<style>
#welcome{
    padding-bottom: 20px;
}
#welcome img{
    width: 70%;
    margin: 2em auto;
    display: block;
}

</style>

