<template>
  <div id="app">
    <nav class="navbar">
      <ul class="nav-items">
        <li v-if="user"> <router-link to="/home">Home</router-link> </li>
        <li v-if="!user"> <router-link to="/login">Login</router-link> </li>
        <li v-if="!user"> <router-link to="/register">Sign up</router-link> </li>
        <li v-if="!user"> <router-link to="/forgetpassword">Forget Password</router-link> </li>
        <li v-if="user"><a @click="logout()">Log out</a></li>
        <li v-if="user" class="name-item">{{email}} {{name}}</li>
      </ul>
    </nav>
    <div class="over">
      <div class="float-part">
        <router-view></router-view>
      </div>
    </div>
    <div class="part blue">
      <div class="bgoverlay"></div>
    </div>
    <div class="part grey"></div>
  </div>
</template>

<script>
import login from './components/login.vue'
import register from './components/register.vue'
import welcome from './components/welcome.vue'
import { firebase } from './databaseconfig.js'


export default {
  // name: 'app',
  data () {
    return {
      user: '',
      email: '',
      name: ''
    }
  },
  components: {
    'sign-in' : login,
    'sign-up' : register,
    'welcome' : welcome
  },
  methods : {
    logout() {
      firebase.auth().signOut().then(()=>{
        this.$router.push('/login');
      });
    }
  },
  mounted () {
    this.user = firebase.auth().currentUser;
    if(this.user){
      this.email = this.user.email;
      this.name = this.user.displayName;
    }
  } 
}
</script>

<style>
body{
  margin: 0;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

nav{
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 1000;
  background: #ffffff;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
}
.navbar ul.nav-items{
  margin: 0 20px;
  padding: 0;
}
.navbar ul.nav-items li.name-item{
  background: #eeeeee;
  padding: 5px;
  border-radius: 2px;
  float: right;
  margin-top: 10px;
}
.navbar ul.nav-items li{
  display: inline-block;
  cursor: pointer;
}
.navbar ul.nav-items li a{
  text-decoration: none;
  padding: 17px 15px;
  line-height: 3;
  color: #039be5;
  transition: .5s all ease;
}
.navbar ul.nav-items li a:hover, .navbar ul.nav-items li a:active, .navbar ul.nav-items li a:focus{
  background: #039be5;
  color: #ffffff;
}
.navbar ul.nav-items li a.router-link-exact-active{
  background: #039be5;
  color: #ffffff;
}
.over{
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
}
.part{
  height: 50vh;
  width: 100%;
}
.blue{
  background-color: #039be5;
}
.blue .bgoverlay{
  width: 100%;
  height: 100%;
  background: url('./assets/mainmap.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.grey{
  background-color: #f5f5f5;
}
.float-part{
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
  width: 60%;
  position: absolute;
  top: 20vh;
  z-index: 999;
  min-height:50vh ;
  left: 20%;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 20px;
}
.form-input{
  width: 100%;
  display: block;
  margin: 3em auto;
  height: 50px;
  font-size: 16px;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  transition: .5s all ease-in;
}
.form-input:focus{
  border-bottom: 1px solid #039be5;
  outline: none;
}
.button{
  min-width: 80px;
  border: 0;
  height: 36px;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 8px 16px;
  border-radius: 2px;
  margin: auto;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 5s all ease-in-out;
}
.blue-button{
  background-color: #039be5;
}
.red-button{
  background-color: #e01717;
}
.errorbox{
    background: #ea4444cf;
    padding: 1px;
    text-align: center;
    color: #fff;
    width: 100%;
    border-radius: 2px;
}
.successbox{
  background: #44ea96;
  padding: 1px;
  text-align: center;
  color: #fff;
  width: 100%;
  border-radius: 2px;
}
</style>
